<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
            crossorigin="anonymous"
        />

        <title>Descarca DXF</title>
        <style>
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                margin: 0;
            }
            input[type="number"] {
                -moz-appearance: textfield;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center pt-5 mx-5">
                <img
                    class="img-fluid"
                    style="max-width: 250px"
                    src="./images/polyGIS_text.svg"
                    alt="polyGIS"
                    width="600"
                />
            </div>
            <div class="row pt-5 mx-5 justify-content-evenly">
                <!-- Cards -->
                <!-- Extensia Chrome -->
                <div
                    class="card col p-0 mt-3 overflow-hidden"
                    style="min-width: 18rem; max-width: 25rem"
                >
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe
                            class="embed-responsive m-0"
                            src="https://www.youtube.com/embed/pZvhCcB0F_g"
                            title="polygis"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            style="width: 100%; height: 15rem"
                            allowfullscreen
                        ></iframe>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            polyGIS <br />extensie chrome
                        </h5>
                        <p class="card-text">
                            Extensia creează posibilitate descărcării fișierelor
                            tip DXF, a cadastrelor afișate pe eTerra.
                        </p>
                        <a
                            href="https://l.facebook.com/l.php?u=https%3A%2F%2Fchrome.google.com%2Fwebstore%2Fdetail%2Fpolygis%2Fgbbffeidmkmbgdpombbjhcapimnjdndh%2Frelated%3Ffbclid%3DIwAR0pekTjBVVegdbYhjeaU8Qbkm3jZjEU7_fobp1Y_Yh5wkh09NjyS1Ylddo&h=AT32iPCKjo0UeuqJxEmc4KM_067rharCk5jcBXaQuIyb9vLG_k_vzCwqB0XGvNDzz-FIr3qCn6JbWl9Hhfq1M15-9f4aj_Xmr9qnf5ct0YzrzDPwsHLswJiX-WtoPBfAzQxl&__tn__=-UK-R&c[0]=AT13ScVEViMv1tCGTPTEFXFQ_MIKCsUR0XUA_QWT4NJ-snvqXuJMAZrPM9m3JzsXvB-KY-Zr190X7YH_lG1ZzZOKidnkAbpk85dprBMP-1qjSAbSdwc58-TRHyMXaZquSmsYCYSHxFPtKPvjxzgBmSHZhHsCLWUfCaY"
                            class="btn btn-primary"
                            target="blank"
                            >Descarcă extensia</a
                        >
                        <p class="card-text pt-4">
                            <small class="text-muted">15 Septembrie 2021</small>
                        </p>
                    </div>
                </div>
                <!-- AddOn Archicad -->
                <div
                    class="card col p-0 mt-3 overflow-hidden"
                    style="min-width: 18rem; max-width: 25rem"
                >
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe
                            class="embed-responsive m-0"
                            src="https://www.youtube.com/embed/gJnfSpEcRK4"
                            title="polygis"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            style="width: 100%; height: 15rem"
                            allowfullscreen
                        ></iframe>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">polyGIS <br />AddOn Archicad</h5>
                        <p class="card-text">
                            Acest AddOn este ca și extensia chrome, pe steroizi.
                            <br />
                            Citește de pe eTerra numărul cadastral, dacă l-a
                            găsit desenează polilinia cadastrului.
                        </p>
                        <a href="#" class="btn btn-secondary disabled"
                            >Descarcă addon-ul</a
                        >
                        <p class="card-text pt-4">
                            <small class="text-muted"
                                >Disponibil pe 1 Decembrie 2021</small
                            >
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="container maps pt-5">Maps go here</div> -->
        <!--  Bootstrap Bundle with Popper -->
        <div class="fixed-bottom bg-dark text-light">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-sm-4 my-3">
                        <span>Acest site nu foloseste cookie-uri</span>
                    </div>
                    <div class="col-sm-4 m-auto">
                        <a href="https://www.buymeacoffee.com/MihalceaBogdan"
                            ><img
                                src="https://img.buymeacoffee.com/button-api/?text=Buy me a beer&emoji=🍺&slug=MihalceaBogdan&button_colour=FFDD00&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=ffffff"
                        /></a>
                    </div>
                    <div class="col-sm-4 my-3">
                        <span class="align-content-end"
                            >Contact:
                            <a href="mailto:contact@polygis.xyz" type="email">
                                contact@polygis.xyz
                            </a></span
                        >
                    </div>
                </div>
            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"
        ></script>
        <script src="fetcher.js"></script>
    </body>
</html>
